<style>
  input, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
  }
  form, h1 {
    padding: 10px;
  }
</style>

<%= form_with(model: knock, local: true) do |form| %>
  <% if knock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(knock.errors.count, "error") %> prohibited this knock from being saved:</h2>

      <ul>
      <% knock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      Resident name<br />
      <%= form.text_field :resident_name %>
    </p>
    <p>
      Neighborhood<br />
      <%= form.select :neighborhood, @neighborhoods, include_blank: true %>
    </p>
    <p>
      Gender<br />
      <%= form.text_field :gender %>
    </p>
    <p>
      Race<br />
      <%= form.text_field :race %>
    </p>
    

    <% for question in Question.all %>
      <p>
        <%= question.main_question_text %><br />
        <%= form.text_field :testq %>
      </p><p>
        <%= question.notes_question_text %><br />
        <%= form.text_area :testq %>
      </p>
    <% end %>


    <p>
      <%= form.submit 'Create' %>
    </p>
  </div>
<% end %>
