<p id="notice"><%= notice %></p>

<h1>List all knocks</h1>

<%= @knocks.length %> in database |
<%= link_to "Search knocks", search_knocks_path %>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Canvasser</th>
      <th>Address</th>
      <th>Neighborhood</th>
      <th>Resident</th>
      <th>Followup</th>
      <th>Language</th>
      <th>Race</th>
      <th>Gender</th>
      <th>Contact</th>
    </tr>
    <% @knocks.each do |knock| %>
      <tr>
        <td><%= knock.canvasser.name %></td>
        <td><%= knock.door.address %> <%= knock.door.zip %></td>
        <td><%= knock.neighborhood %></td>
        <td><%= knock.resident_name %></td>
        <td><%= knock.followup %></td>
        <td><%= knock.language %></td>
        <td><%= knock.race %></td>
        <td><%= knock.gender %></td>
        <td><%= knock.contact %></td>
        <td><%= link_to 'Show', knock %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Knock', new_knock_path %>
