<p id="notice"><%= notice %></p>

<h1><%= @knock.door.address %></h1>
<p><%= @knock.canvasser.name %> spoke to <%= @knock.resident_name %> on <%= @knock.when %></p>

<h2><%= @answers.length %> answers to questions</h2>
<ul>
	<% for answer in @answers %>
	  <li>
      <b><%= answer.question.description %>: </b><%= answer.short_answer %><br />
      <%= answer.notes %>
    </li>
  <% end %>
</ul>

<% @knock.attributes.each do |n,v| %>
  <p><%= n %>:<br /><%= v %></p>
<% end %>
