<!DOCTYPE html>
<html>
  <head>
    <title>Impacter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lobster' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Acme' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Righteous' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" property="og:description" content="Impacter is a tool for deep canvassing and listening. It allows canvassers to record and analyze citizen stories.">
    <meta property="og:image" content="<%= image_path 'og.png' %>" />

  </head>

  <body>
    <header>
      <h1 class="one-third padded" id="logo"><%= link_to 'Impacter', root_path %></h1>
      <nav class="two-thirds padded">
        <% if user_signed_in? %>
          <%= link_to('Knock', new_door_path) %> <span>|</span>
          <%= link_to('Search', "knocks/search") %> <span>|</span>
          <%= current_user.email %> <span>|</span>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        <% else %>
          <%= link_to 'Sign up', :signup %> <span>|</span>
          <%= link_to('Sign in', new_user_session_path)  %>  
        <% end %>
      </nav>
    </header>
    <% if notice || alert %>
      <section id="flash" class="padded">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </section>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
