<!DOCTYPE html>
<html>
  <head>
    <title>Impacter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="float: left;"><%= link_to 'Impacter', root_path %></div>
    <nav style="text-align: right; padding-right: 15px;">
      <% if user_signed_in? %>
        <%= link_to('Knock', new_door_path) %> |
        <%= link_to('Search', "knocks/search") %> |
        <%= current_user.email %> |
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
      <% else %>
        <%= link_to('Login', new_user_session_path)  %>  
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <hr />
    <%= yield %>
  </body>
</html>
